.bigcontainer{
   
    max-width: 62.5em;
    min-width: 20em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
}

.presentation{
    margin: 3em 5em 3em 5em;
    background-color: rgba(0,0,0,0.8);
    border: grey solid;
    border-radius: 1em;
    padding: 1em;
    width: 18em;
}

.techContainer{
    display: flex;
    align-items: center;
    text-align: center;
    border: grey solid;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
}

#title{
    font-size: 1.2em;
}

 .iconsContainer{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
} 

.iconsContainer p{
    font-size: 1em;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
