.socialmediacontainer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
}
.contactHeader {
  margin-left: 1em;
  display: flex;
  justify-content: center;
}

.contactHeader h1 {
  color: rgba(137, 43, 226, 0.946);
  margin-left: 0.2em;
  display: inline;
}

.contactHeader h1::selection {
  color: #080808;
}

#contactLogo {
  width: 3em;
  height: 3em;
}

.mediaLinks {
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.mediaLinks img {
  width: 70px;
}
