.contactContainer{
    display: block;
    text-align: center;
}

.contactHeader{
    margin-left: 1em;  
    display: flex;
    
}

.contactHeader h1{
    color: rgba(137, 43, 226, 0.946);
    margin-left: 0.2em;
    display: inline-block;
    
}

.contactHeader h1::selection{
    color: #080808
}

.socialmediacontainer{
    background-color: rgba(0,0,0,0.8);
    padding:1em;
    margin-top: 1.5em;  
}

.socialmediacontainer p{
    display: flex;
    align-items: center;
    
}
.socialmediacontainer a{
    margin-left: 0.5em;
    color:chartreuse;
}

#contactLogo{
    width: 3em; 
    height: 3em;    
}

#advice{
    font-size: 0.7em;
    float:right;
    margin-top: 0.5em;
}

.aboutMe{ 
    margin: 1em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 1em;
    border: 5px rgba(137, 43, 226, 0.946) double ;
    width:40%; 
    padding:1em;
}

.aboutMe p{
    margin-top: 1em;
}

.mediaLinks{
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 1000px){
    .aboutMe{ 
        display: block;
        margin-left: 10em;
        margin-right: 10em;
        background-color: rgba(0,0,0,0.8);
        border-radius: 1em;
        border: 5px rgba(137, 43, 226, 0.946) double ;
        width:100%; 
        padding:1em;
    }
}

@media only screen and (max-width: 800px){
    .mediaLinks{
        display: flex;
        flex-wrap: wrap;
        
        
    }
}

@media only screen and (max-width: 600px){
    .mediaLinks{
        font-size: 10px;  
    }
}

