.all{
    
    display: grid;
    grid-template-columns: auto auto;
    
    
}

.contactContainer{
    margin-left:1em;
    display: inline-block;
    margin: 1em;
    
}

.contactHeader{
    margin-left: 1em;  
    display: flex;
    align-items: center;
    
}

.contactHeader h1{
    color: rgba(137, 43, 226, 0.946);
    margin-left: 0.2em;
    display: inline-block;
    
}

.contactHeader h1::selection{
    color: #080808
}

.socialmediacontainer{
    background-color: rgba(0,0,0,0.8);
    border: grey solid;
    border-radius: 1em;
    padding:1em;
    margin-top: 1.5em;
    /* width: 30em; */
}

.socialmediacontainer p{
    display: flex;
    align-items: center;
}
.socialmediacontainer a{
    margin-left: 0.5em;
    color:chartreuse;
}

#contactLogo{
    width: 3em; 
    height: 3em;
    display: inline-block;
    
}

#advice{
    font-size: 0.7em;
    float:right;
    margin-top: 0.5em;
}

.aboutMe{
    
    margin: 1em;
    display:inline-block;
    background-color: rgba(0,0,0,0.8);
    border-radius: 1em;
    border: 5px rgba(137, 43, 226, 0.946) double ;
    /* width:40%; */
    padding:1em;
}

.aboutMe img{
    border-radius: 50%;
    width: 10em;
   
    
}
.aboutMe p{
    display:inline-block;
    margin-top: 1em;
}