.navbar{
    display: flex;
    background: linear-gradient(rgba(51, 17, 83, 0.946), transparent);
    color: #fff;
    width: 100%;
    height: 4.37em;
    justify-content: space-evenly;
}

.navbarItem{
    margin-top: 1em;
    text-decoration: none;
    justify-content: center;
    color: #fff;
}

.navbarItem:hover{
    color:rgb(33, 175, 20);
}

.logo{
    width: 3em; 
    height: 3em;
}

.logo:hover{
background-color: rgb(138, 43, 226);
border:  rgb(60, 13, 104) double 5px ;
border-radius: 30%;
}

.mainlink{
    border: none;
    border-radius: 50%;
}

@media screen and (max-width: 730px){
    .logo:hover{
        background-color: transparent;
        border:  none;
        }
}

