*{
  font-family: 'Georama', sans-serif;
  color:white;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  /* border: white solid 1px */
  
}
::selection{
  background-color:blueviolet;
}

strong::selection{
  color: #080808;
}

body{
  background-color: #080808;
  display: block;
} 

strong{
  color: rgba(137, 43, 226, 0.946);
}

a{
  color: #7fff00;
}



